* {
    text-align: center;
}
body{
    margin: 0;
    background-image: url(haloReachPlanet.jpg);
    background-color: #cccccc;
}

@font-face{
    font-family: "Halo";
    src: url(halo.ttf) format('truetype');
    
}
@font-face{
    font-family: "Halo Outline";
    src: url("Halo Outline.ttf") format('truetype');
}

.heading h1{
    font-family: Halo, Play, Arial, Helvetica, sans-serif;
    color: darkslategray; /*if browser doesn't support back image or hexidecimal*/
    color: #cccccc;
    font-size: 48px;  
}

p{
    font-size: 48px;

}

header{
    display: block;
}

.Table{
    color: aliceblue;
    opacity: 50%;
    align-self: center;
    background-color: rgba(0, 255, 0, 0.3)
    
}